
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

p {
    letter-spacing: .025em;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

/* Début de la page */

body {
    background-color: rgb(238, 238, 238);
}

.facture {
    margin: 10px auto;
    padding: 40px 80px;
    width: 210mm;
    height: 297mm;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    background-color: white;
}

/* Fin de la page */

/* Début du header */

header img {
    width: 200px;
}

header{
    height: 200px;
    display: flex;
    justify-content: space-between;
}

header .informations_client{
    align-self: flex-end;
    text-align: right;
}
/* Fin du header */

.corps ul li {
    margin-top: 80px;
    font-size: 1.5rem;
    font-weight: 600;
    list-style: inside;
}

.corps ul li .date {
    color: rgb(182, 0, 0);
    font-size: 1.5rem;
    font-weight: 600;
}

/* Tableau */

table {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
    text-align: center;
}

tbody tr th {
    font-weight: 600;
}

/* Fin du tableau */

.lafacture p {
    margin-top: 10px;
}

.resteapayer {
    border: 2px solid red;
    border-radius: 4px;
    float: right;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 3px 10px;
}

.prelevement {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    position: absolute;
    bottom: 105px;
    padding: 8px;
}

.facture footer {
    max-width: 160mm;
    margin: 0px auto;
    font-size: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 25px;
    color: rgb(87, 87, 87);
}

input, textarea {
    border: none;
    padding: 6px 10px;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #aaa;
    background: #fff;
    font: bold 13px Arial;
    color: #555;
    align-self: center;
    height: 28px;
    max-width: 150px;
}

.imprimer {
    width: 210mm;
    margin: 5px auto;
    float: right;
}

@media print {
    .facture{
        box-shadow: none;
        height: 290mm;
    }
    .imprimer{
        display: none;
    }
}